*{
    padding: 0%;
    margin: 0%;
}
body{
    font-size: larger;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/img/5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    padding: 10px;
    margin-top: 3%;
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2%;
}
a.nav{
    padding: 100px;
    text-decoration: none;
    font-weight: bolder;
    text-align: left;
    color: rgb(255, 255, 255);
}
a.nav:hover{
    color: blue;
}
#Rnx{
    background-color: rgba(0, 255, 255, 0.555);
    padding: 5px;
    margin-bottom: 50px;
}
.placeholder{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#TC a{
     text-decoration: none;
     color: white;     
}
#TC a:hover{
     color: red;
}
#submit{
    height: 41px;
    width: 111px;
    font-size: larger;
    font-weight: bolder;
    padding: 3px;
}
footer{
    color: white;
    font-weight: bolder;
}
#feedback{
    font-weight: bolder;
    text-align: left;
    padding-bottom: 0%;
}
#footer{
    background-color: rgb(0,0,0,0.527);
}